.list-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  color: #ff8542;
}
.list-container-2 {
  background-color: #ffffff;
  width: 90%;
  border-radius: 25px;
}
.button {
  background-color: white;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 5px;
}
